#root {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
}

a{
  color: rgba(255, 255, 255, 0.87);
  font-weight: bolder;
}

a:hover{
  color:#283d3b
}

.card {
  padding: 2em;
}

.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}
